{% extends "social/base.html" %}

{% block content %}

<div class="card">

    <h1>Find Friends 👥</h1>

    <p>Find other users and send friend requests.</p>

    <br>

    
    <form method="GET">

        <input
            type="text"
            name="search"
            placeholder="Search username..."
            value="{{ search }}"
        >

        <button type="submit">
            Search
        </button>

    </form>

</div>


{% for person in users %}

<div class="card">

    <h2>{{ person.username }}</h2>

    <br>

    {% if person.id in friends %}

        <p>✅ You are already friends</p>

    {% elif person.id in sent_requests %}

        <p>⏳ Friend request sent</p>

    {% else %}

        <a href="{% url 'send_friend_request' person.id %}">
            <button>Add Friend</button>
        </a>

    {% endif %}

</div>


{% empty %}

<div class="card">

    <h3>No users found.</h3>

    {% if search %}
        <p>No user found for "{{ search }}".</p>
    {% else %}
        <p>No Accounts.</p>
    {% endif %}

</div>

{% endfor %}

{% endblock %}