{% extends "social/base.html" %}

{% block content %}

<div class="card">

    <h2>Create Account</h2>

    <br>
    {% if success %}
        <p style="color: goldenrod">{{ success }}</p>
    {% endif %}

    <br>

    {% if error %}
        <p style="color:red;">
            {{ error }}
        </p>
    {% endif %}

    <form method="POST">

        {% csrf_token %}

        <input
            type="text"
            name="username"
            placeholder="Enter username"
            required
        >

        <input
            type="password"
            name="password"
            placeholder="Enter password"
            required
        >

        <button type="submit">
            Register
        </button>

    </form>

    <br>

    <p>
        Already have an account?
        <a href="{% url 'login' %}">
            Login
        </a>
    </p>

</div>

{% endblock %}