{% extends "social/base.html" %}

{% block content %}

<div class="card">

    <h1>Friend Requests</h1>

    <br>

    {% for friend_request in requests %}

        <div class="card">

            <h2>
                {{ friend_request.sender.username }}
            </h2>

            <br>

            <a href="{% url 'accept_request' friend_request.id %}">
                <button type="button">
                    Accept
                </button>
            </a>

            <a href="{% url 'reject_request' friend_request.id %}">
                <button type="button">
                    Reject
                </button>
            </a>

        </div>

    {% empty %}

        <p>No friend requests.</p>

    {% endfor %}

</div>

{% endblock %}